{{#if editFormShow}}
  <div class="editForm">
    <form>
      <div class="form-group">
        <label for="title">Listing Title</label>
        {{input value=title value=listing.title id="title"}}
      </div>
      <div class="form-group">
        <label for="author">Your Name</label>
        {{input value=listing.author id="author"}}
      </div>
      <div class="form-group">
        <label for="price">Listing Price</label>
        {{input value=listing.price id="price"}}
      </div>
      <div class="form-group">
        <label for="description">Item Description</label>
        {{textarea value=listing.description id="description"}}
      </div>
      <div class="form-group">
        <label for="image">Image URL</label>
        {{input value=listing.image id="image"}}
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        {{input value=listing.location id="location"}}
      </div>
      <div class="form-group">
        <label for="contact">Contact Information</label>
        {{input value=listing.contact id="contact"}}
      </div>
      <button class="btn btn-success" {{action 'saveEdit' listing}}>Save Listing</button>
    </form>
  </div>
  {{else}}
    <button class="btn btn-primary" {{action 'showEditForm'}}>Edit Listing</button>

{{/if}}
