<div class="listingItem">
  <div class="thumbnailImage" style="background: url('{{listing.image}}'); background-size: cover;"></div>
  <p>{{listing.date}}</p>
  <h4>{{listing.title}}</h4>
  <p>{{listing.location}}</p>
  <p class="listingPrice">{{listing.price}}</p>
</div>
